@model IEnumerable<Applicant.Models.ApplicantModels>


@{
     ViewBag.Title = "Index";
    string search = "";
}

@if (Request.IsAuthenticated)

{

<h2>Список соискателей</h2>
<h2>Index</h2>
<div class="row">

          <div class="col-lg-3">
                  @Html.TextBoxFor(x => search, new { @class = "form-control" })
    </div>
            <div class="col-lg-1">
                   <button type="button" class="btn btn-info">

                       <span class="glyphicon glyphicon-search"></span> Поиск
        </button>
    </div>

   
</div>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.AplicantID }) |
            @Html.ActionLink("Details", "Details", new { id=item.AplicantID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.AplicantID })
        </td>
    </tr>
}

</table>
}